.input {
	background-color: var(--input-bg);
	border: 1px solid var(--input-bd);
	color: var(--input-fg);
	max-width: 30rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-size: var(--font-size-md);
	transition: border-color 0.15s linear;
	height: 2rem;
}

.input:focus {
	outline: none;
	background-color: var(--input-bg);
	border-color: var(--input-focus);
	color: var(--input-fg);
}

.input::placeholder {
	color: var(--text-placeholder);
}

.invalid {
	border-color: var(--color-alert);
	color: var(--color-alert);
}

.readonly {
	&,
	&:focus {
		border-color: transparent;
		background-color: transparent;
		color: var(--text-default);
		caret-color: transparent;
		cursor: default;
	}
}

.disabled {
	&,
	&:focus {
		background-color: var(--input-bg);
		border: 1px solid var(--input-bd);
		color: var(--input-fg);
		opacity: 0.3;
		caret-color: transparent;
		cursor: default;
	}
}
