.menu {
	display: flex;
	flex-direction: column;
	box-shadow: var(--background-shadow);
	border: 1px solid var(--pattern-neutral-bd);
	border-radius: 0.25rem;
	overflow: hidden;
	position: absolute;
	background-color: var(--pattern-neutral-normal-bg);
}

.item {
	list-style: none;
	padding: 0.5rem 1rem;
	color: var(--pattern-neutral-normal-fg);
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
}

.item:hover {
	background-color: var(--pattern-neutral-hover-bg);
	color: var(--pattern-neutral-hover-fg);
}

.item:focus {
	outline-width: var(--focus-width);
	outline-style: var(--focus-style);
	outline-color: var(--focus-light);
	outline-offset: calc(-1 * var(--focus-width) - 1px);
}

.divider {
	width: 100%;
	max-width: 100%;
}

.closed {
	display: none;
}

.hidden {
	display: none;
}
