.textarea {
	background-color: var(--input-bg);
	border: 1px solid var(--input-bd);
	color: var(--input-fg);
	max-width: 30rem;
	padding: 0.25rem 0.5rem;
	border-radius: var(--default-border-radius);
	font-size: var(--font-size-md);
	transition: border-color 0.15s linear;
	resize: none;
	width: 100%;
}
.resize {
	resize: both;
}

.textarea:focus {
	outline: none;
	background-color: var(--input-focus-bg);
	border-color: var(--input-focus-bd);
	color: var(--input-focus-fg);
}

.textarea::placeholder {
	color: var(--input-placeholder-fg);
}

.invalid {
	border-color: red;
	color: red;
}
