.list {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.item {
	display: flex;
	flex-direction: column;
	padding: var(--spacing-sm) var(--spacing-md);
	position: relative;
	justify-content: center;
	transition: background-color 0.1s linear, color 0.1s linear;

	&:focus {
		outline-width: var(--focus-width);
		outline-style: var(--focus-style);
		outline-color: var(--focus-light);
		outline-offset: calc(-1 * var(--focus-width) - 1px);
	}
}

.interactable {
	cursor: pointer;
	&:hover {
		background-color: var(--pattern-lightweight-hover-bg);
		color: var(--pattern-lightweight-hover-fg);
	}

	&:active {
		background-color: var(--pattern-lightweight-pressed-bg);
		color: var(--pattern-lightweight-pressed-fg);
	}
}

.selected {
	&.item {
		background-color: var(--pattern-lightweight-hover-bg);
		color: var(--pattern-lightweight-hover-fg);

		&::before {
			content: '';
			background-color: var(--pattern-primary-pressed-bd);
			width: 0.25rem;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			inset-block-start: 0;
			inset-inline-start: 0;
		}
	}
}

.text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--font-size-md);
	user-select: none;
}

.description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--font-size-sm);
	user-select: none;
}
