.svg {
	height: var(--font-size-md);
	width: var(--font-size-md);
	flex-shrink: 0;
}

.svg path,
.svg circle,
.svg ellipse,
.svg rect {
	fill: var(--svg-custom-color, var(--text-default));
	&.inverse {
		fill: var(--svg-custom-color-inverse, var(--text-inverse));
	}
}

.svg.alternate path,
.svg.alternate circle,
.svg.alternate ellipse,
.svg.alternate rect {
	fill: var(--svg-custom-color, var(--text-default));
	&.inverse {
		fill: var(--svg-custom-color-inverse, var(--text-inverse));
	}
}

.svg.inverted path,
.svg.inverted circle,
.svg.inverted ellipse,
.svg.inverted rect {
	fill: var(--svg-custom-color-inverse, var(--text-inverse));
	&.inverse {
		fill: var(--svg-custom-color, var(--text-default));
	}
}

.stroke {
	stroke: var(--svg-custom-color, var(--text-default));
	stroke-width: 2px;
}

.noFill {
	fill: none !important;
}
