.svg {
	height: var(--font-size-md);
	width: var(--font-size-md);
	flex-shrink: 0;
}

.svg > path {
	fill: var(--svg-fill, var(--text-default));
	&.inverse {
		fill: var(--svg-fill-inverse, var(--text-inverse));
	}
}

.svg.alternate > path {
	fill: var(--svg-fill, var(--text-default));
	&.inverse {
		fill: var(--svg-fill-inverse, var(--text-inverse));
	}
}

.svg.inverted > path {
	fill: var(--svg-fill-inverse, var(--text-alternate));
	&.inverse {
		fill: var(--svg-fill, var(--text-default));
	}
}
