.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.switch {
	position: relative;
	display: inline-block;
	width: 3.5rem;
	height: 2rem;
}

.switch:focus {
	outline-width: var(--focus-width);
	outline-style: var(--focus-style);
	outline-color: var(--focus-dark);
	outline-offset: calc(-1 * var(--focus-width) - 1px);
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--pattern-neutral-normal-bg);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 1.5rem;
	width: 1.5rem;
	left: 0.25rem;
	bottom: 0.25rem;
	background-color: var(--pattern-neutral-normal-fg);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

.input:checked + .slider {
	background-color: var(--pattern-primary-normal-bg);
}

.input:checked + .slider:before {
	transform: translateX(1.5rem);
}

.label {
	color: var(--text-default);
	align-self: center;

	&:first-child {
		margin-right: 0.5rem;
	}
	&:last-child {
		margin-left: 0.5rem;
	}
}

.disabled {
	cursor: default;
	opacity: 0.3;
}
