.card {
	padding: var(--spacing-md);
	padding-inline-start: var(--spacing-lg);
	background-color: var(--pattern-neutral-normal-bg);
	color: var(--pattern-neutral-normal-fg);
	border-radius: 0.25rem;
	width: 20rem;
	overflow: hidden;
	box-shadow: var(--background-shadow);
	position: relative;
	border-left-color: var(--card-accent);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	&::before {
		content: '';
		width: 6px;
		height: 100%;
		background-color: var(--card-accent);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.content {
	display: grid;
	column-gap: 1rem;
	width: 100%;
}

.textContainer {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
}

.title {
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-block-end: var(--spacing-xs);
	font-size: var(--font-size-sm);
	overflow: hidden;
}

.value {
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-block-end: var(--spacing-xs);
	font-weight: 600;
	font-size: var(--font-size-xl);
	color: var(--card-accent);
	overflow: hidden;
}

.description {
	color: var(--text-placeholder);
	font-size: var(--font-size-sm);
}

.icon {
	align-self: center;
	justify-content: center;
	height: var(--font-size-xl);
	width: var(--font-size-xl);
}
