.container {
	position: fixed;
	top: 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	pointer-events: none;
	z-index: 4;
}

.toast {
	border-width: 1px;
	border-style: solid;
	padding: var(--spacing-sm) var(--spacing-md);
	border-radius: 0.25rem;
	border-color: var(--pattern-neutral-normal-bd);
	background-color: var(--pattern-neutral-normal-bg);
	box-shadow: var(--background-shadow);
	color: var(--pattern-neutral-normal-fg);
	display: flex;
	max-width: 40rem;
	max-height: 6.5rem;
	margin: 0.75rem;
	user-select: none;
	pointer-events: all;
}

.text {
	flex: 1 1 auto;
	overflow: hidden;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	align-self: center;
}

.closeButton {
	margin-inline-start: var(--spacing-sm);
	padding: var(--spacing-xs);
	align-self: start;
}
