@import '../src/assets/global.scss';
@import '../src/assets/tokens.scss';

@font-face {
	font-family: 'Rubik';
	src: url('../src/assets/Rubik-Regular.ttf') format('truetype');
}

body {
	font-family: Rubik, sans-serif;
	color: var(--color-text);
}

html,
body {
	height: 100%;
	width: 100%;

	> div[id='root'] {
		height: 100%;
		width: 100%;
	}
}
