@import './reset.scss';

// Scrollbar styles
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--text-default);
}

a {
	color: var(--text-default);
}

a:focus {
	outline-width: var(--focus-width);
	outline-style: var(--focus-style);
	outline-color: var(--focus-light);
}

// Typography values
h1,
h2 {
	font-size: var(--font-size-xxl);
}

h3,
h4 {
	font-size: var(--font-size-xl);
}

h5,
h6 {
	font-size: var(--font-size-lg);
}

p,
a,
span {
	font-size: var(--font-size-md);
	line-height: 1.5;
}
