:root {
	// Base Size
	--base-size: 16px;

	// Border Radius
	--default-border-radius: 0.25rem;

	// Font Sizes
	--font-size-sm: calc(var(--base-size) * 0.75);
	--font-size-md: calc(var(--base-size) * 1);
	--font-size-lg: calc(var(--base-size) * 1.5);
	--font-size-xl: calc(var(--base-size) * 2.25);
}

:root,
.light {
	// Base Colors
	--color-neutral: #ffffff;
	--color-primary: #7800d2;
	--color-secondary: #258fd8;

	// Text Colors
	--color-text: #ffffff;
	--color-text-alt: #ffffff;
	--color-text-inverted: #131722;
	--color-text-placeholder: #a1a1a1;

	// Background Colors
	--page-bg: #258fd8;
	--background-overlay-neutral: rgba(0, 0, 0, 0.25);
	--background-overlay-primary: rgba(120, 0, 210, 0.25);
	--background-sh: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
	--navigation-bg: #0b324c;

	// Neutral State
	--neutral-bg: hsla(0, 100%, 100%, 1);
	--neutral-bd: var(--color-text-inverted);
	--neutral-fg: var(--color-text-inverted);
	--neutral-hover-bg: hsla(0, 100%, 100%, 0.9);
	--neutral-hover-bd: var(--color-text-inverted);
	--neutral-hover-fg: var(--color-text-inverted);
	--neutral-active-bg: hsla(0, 100%, 100%, 0.8);
	--neutral-active-bd: var(--color-text-inverted);
	--neutral-active-fg: var(--color-text-inverted);

	// Primary State
	--primary-bg: var(--color-primary);
	--primary-bd: var(--color-primary);
	--primary-fg: var(--color-text);
	--primary-hover-bg: #560094;
	--primary-hover-bd: #560094;
	--primary-hover-fg: var(--color-text);
	--primary-active-bg: #5c009e;
	--primary-active-bd: #5c009e;
	--primary-active-fg: var(--color-text);

	// Inputs
	--input-bg: var(--neutral-bg);
	--input-bd: var(--neutral-bd);
	--input-fg: var(--neutral-fg);
	--input-focus-bg: var(--input-bg);
	--input-focus-bd: #c375ff;
	--input-focus-fg: var(--input-fg);
	--input-placeholder-fg: rgba(0, 0, 0, 0.5);

	// Focus
	--focus-width: 1px;
	--focus-style: dotted;
	--focus-color-light: var(--color-text);
	--focus-color-dark: var(--color-text-inverted);

	// Miscellaneous Colors
	--majority-bg: #e0a0ff;
	--minority-bg: #adff9b;
}

.dark {
	--color-neutral: #2a2e39;
	--color-primary: #7d00d6;
	--color-secondary: #1976d2;

	// Text Colors
	--color-text: #ffffff;
	--color-text-alt: #ffffff;
	--color-text-inverted: #ffffff;
	--color-text-placeholder: rgba(255, 255, 255, 0.5);

	// Background Colors
	--page-bg: #131722;
	--background-overlay-neutral: rgba(255, 255, 255, 0.15);
	--background-overlay-primary: rgba(125, 0, 214, 0.25);
	--background-sh: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
	--navigation-bg: var(--color-neutral);

	// Neutral State
	--neutral-bg: var(--color-neutral);
	--neutral-bd: var(--color-text-inverted);
	--neutral-fg: var(--color-text-inverted);
	--neutral-hover-bg: hsla(0, 100%, 100%, 0.15);
	--neutral-hover-bd: var(--color-text-inverted);
	--neutral-hover-fg: var(--color-text-inverted);
	--neutral-active-bg: hsla(0, 100%, 100%, 0.25);
	--neutral-active-bd: var(--color-text-inverted);
	--neutral-active-fg: var(--color-text-inverted);

	// Primary State
	--primary-bg: var(--color-primary);
	--primary-bd: var(--color-primary);
	--primary-fg: var(--color-text);
	--primary-hover-bg: #8900eb;
	--primary-hover-bd: #8900eb;
	--primary-hover-fg: var(--color-text);
	--primary-active-bg: #8900eb;
	--primary-active-bd: #8900eb;
	--primary-active-fg: var(--color-text);

	// Inputs
	--input-bg: rgba(0, 0, 0, 0.25);
	--input-bd: var(--color-neutral);
	--input-fg: var(--color-text);
	--input-focus-bg: var(--input-bg);
	--input-focus-bd: #c375ff;
	--input-focus-fg: var(--input-fg);
	--input-placeholder-fg: rgba(255, 255, 255, 0.5);

	// Focus
	--focus-width: 1px;
	--focus-style: dotted;
	--focus-color-light: var(--color-text);
	--focus-color-dark: var(--color-text-inverted);

	// Miscellaneous Colors
	--majority-bg: #6e00a2;
	--minority-bg: #195700;
}
